@{
	Layout = "_Layout";

}

<!DOCTYPE html>
<html lang="en">
<head>

</head>

<body>

	@Html.Partial("_PartialviewHeader")

	@Html.Partial("_PartialviewSlider")
	
	@Html.Partial("_PartialviewArticles")

	@Html.Partial("_PartialviewSubscribe")
</body>
</html>

